# Generate Markdown Table
Iterates over the saved data from the ETL routine, selecting the following columns: 'Employer', 'Lang', 'Date', 'Shortest Sentence', 'Longest Sentence', 'Words', 'Readability Consensus'. These are then saved as a table, in Markdown format, in 'table.md'.

In [1]:
# Data handling, structures and analysis tools, SQLite database interface
import pandas as pd
import sqlite3

# Default options
x_variable = 'modification_date'

In [2]:
# Read database, attach as Pandas dataframe sorted by date
db = sqlite3.connect("Data/Applications.db")
columns = 'Title, Readability, Words, Sentences, Interview, Offer, Reply, modification_date'
df = pd.read_sql_query('SELECT ' + columns + ' FROM applications ORDER BY Date(' + x_variable + ') DESC', db)
db.close()

# Cast `modification_date` as DateTime, then drop `modification_date`-column
df['Date'] = pd.to_datetime(df['modification_date'], unit='s')
df = df.drop('modification_date', 1)

df.head()

,Title,Readability,Words,Sentences,Interview,Offer,Reply,Date
0,HiOA,18th and 19th grade,227.0,10.0,0,0,0,2016-10-29 15:03:42
1,"Universitetet i Oslo, Studiekonsulent",18th and 19th grade,237.0,11.0,0,0,0,2016-10-04 13:56:19
2,Hemnes Kommune,13th and 14th grade,226.0,12.0,0,0,0,2016-10-02 13:50:58
3,"Universitetet i Agder, Rådgiver",13th and 14th grade,217.0,10.0,0,0,0,2016-09-27 15:08:28
4,Buskerud Fylkeskommune,11th and 12th grade,250.0,16.0,0,0,0,2016-09-15 15:21:50

In [3]:
# Parse Dataframe and apply Markdown
cols = df.columns
df2 = pd.DataFrame([['---','---','---','---','---','---','---','---']], columns=cols)
df3 = pd.concat([df2, df])

# Save table to .md-file
try:
    df3.to_csv('Data/table.md', sep="|", index=False)
    pass
except IOError as e:
    print (e)
    pass
finally:
    print ('Saved Data/table.md.')

Saved Data/table.md.